@import url('https://fonts.googleapis.com/css?family=Oswald');
body{
  background: transparent !important;
}
span{
  color: rgb(255, 124, 173) !important;
}
h1{
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
  color: white !important;
}
#horario h3{
  -webkit-font-smoothing: antialiased;
  font-size: 0.8rem;
  color: white;
}
